.user_btn
{
    display: inline-block;
    width:100px;
    background-color: green;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 5px auto;
}

.user_btn a 
{
    text-decoration: none;
    color: white;
}

.chatroom_buttons
{
    width: 64%;
    margin: 0 auto;
}