@import "./form";

.chat_box
{
    @extend .form;
    max-width: 100%;
    @media only screen and (min-width: 961px) 
    {
        width: 40%;
    }



}

.message_box
{
    text-align: left;
    overflow-y: scroll;
    min-height: 300px;
    max-height: 500px;
    border: 1px solid black;
    background-color: white;
}