#footers {
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in 0s;
    ul{
        li{
            display: inline-block;
        }
    }
}

/* Leftfooter */

div#leftfooter.col-sm-6 {
    position:absolute;
    left: 10px;
    bottom: 50px;
    width: 25%;
    transition: all 0.2s ease-in-out;
    
}

.fa-twitter {
    color: grey;
    transition: all 0.2s ease-in-out;
    margin-right: 25px;
    
}

.fa-deviantart {
    color: grey;
    transition: all 0.2s ease-in-out;
    
}

.fa-deviantart:hover {
    color: #05cc46;
    font-size: 20px;
}

.fa-twitter:hover {
    color: #00aced;
    font-size: 20px;
    margin-right: 21px;

}

.col-sm-6 li {
    list-style: none;
    display: inline;
    transition: all 0.3s ease-in-out 0s;
}

/* Rightfooter */
    
div#rightfooter.col-sm-6{
    position:absolute;
    bottom: 50px;
    right: 10px;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    height: 40px;
    width: 25%;
    transition: all 0.2s ease-in-out;
}
