.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    input[type="text"], input[type="password"] {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }

    input[type="radio"]{
      opacity: 0;
      position: fixed;
      width: 0;
    }

    .radio-label {
      display: block;
      background-color: #ddd;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
    }

    input[type="radio"]:checked + .radio-label {
      background-color:#bfb;
      border-color: #4c4;
    }

    input[type="radio"]:focus + .radio-label {
      border: 2px dashed #444;
    }

    .radio-label:hover {
      background-color: #dfd;
    }

    button{
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #66b3c4;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;

      &:hover,.form &:active,&:focus {
        background: #5194a3;
      }
    }

    .link-button{
      @extend button;
      display: inline-block;
      &:hover, .form &:active,&:focus{
        text-decoration: none;
        color: white;
        background: #5194a3;
      }
    }
}
.form .form-bottom-notice {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #66b3c4;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.form-title{
  font-weight: bold;
}

.new-channel-form{
  padding: 50px 15px;

}

