.navbar-nav
{
    @media only screen and (min-width: 961px) {
        margin-left: 85%
    }

}

#header
{
    @media only screen and (min-width: 961px) {
        p, a{
            font-size: 1.2em;
        }
        
    }
}