/*
    font-family: 'Alata', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Alatsi', sans-serif;
*/

body{
    font-family: 'Roboto Condensed', sans-serif !important;
}


#header a
{
    transition: all 200ms ease-in;
    &:hover{
        color: cornflowerblue;
    }
}


.nav-title{
    margin: 0;
    padding: 0;
}

.serverlist {

    @media only screen and (min-width: 961px) 
    {
        table{
            font-size: 1.5em;
        }
    }

    td {
        
        &::first-letter{
            text-transform: uppercase;
        }
        button::first-letter
        {
            text-transform: uppercase;
        }
    }
}

.active_user
{
    text-align: center;
    padding: 0;
    margin: auto 0;
    font-size: 1.4em;
}

.message_box
{
    font-size: 0.8em;
}

.room_info
{
    margin: 5% 0;
    text-align: center;
    font-size: 1.2em;
    @media only screen and (min-width: 961px) 
    {
       margin: 2% 0;
    }
}

.primary-title{
    margin-top: 5%;
    text-align: center;
}
