@import "./modules/footers";
@import "./modules/header";
@import "./modules/typography";
@import "./modules/variables";
@import "./modules/modal";

//Different pages

@import "./modules/profile";
@import "./modules/experience";
@import "./modules/skills";

/* font-family: 'Nunito', sans-serif; */

/* font-family: 'Aleo', serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue !important;
    overflow-x: hidden;
    
}

#banners{
    transition: all 0.5s ease-in-out 0s;
    p{
        text-align: center;
        border: 1px solid black;
        margin: 10px auto;
        padding: 50px 0;
        transition: all 0.5s ease-in 0s;
        &:hover{
            color: white;
            background-color:rgb(122, 50, 50);
        }
        @media only screen  and (min-width : $break-small) {
            width: 80%;
        }
        @media only screen  and (min-width : $break-medium) {
            width: 60%;
        }
        @media only screen  and (min-width : $break-large) {
            width: 30%;
            padding: 25px 0;
        }
    }
}

//Hide child pages on load
#profile_page, #experience_page, #skills_page, #hobbies_page{
    transition: all 0.5s ease-in 0s;
    display: none;
    opacity: 0;
}

//Main navigation bar that is shown when any of child pages are shown 
.main_nav_bar{
    display:none;
    opacity: 0;
    width: 100%;
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            transition: all 0.2s ease-in 0s;
            color: black;
            margin: 0 9px;
            &:hover{
                text-decoration: none;
                color:red;
            }
        }
    }
}

