/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Aleo', serif; */
body {
  font-family: "Aleo", serif !important;
}

.primary-title {
  text-align: center;
  margin: 2% 0;
}

@media only screen and (min-width: 800px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 1224px) {
  .primary-title {
    margin: 1% 0;
  }
}

#footer {
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  text-align: center;
}

#footer ul {
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

#footer ul li {
  display: inline-block;
}

.fa-twitter, .fa-deviantart, .fa-gitlab, .fa-linkedin {
  color: grey;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 25px;
}

.fa-linkedin:hover {
  color: #2867b2;
}

.fa-gitlab:hover {
  color: #fca326;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-deviantart:hover {
  color: #05cc46;
}

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Aleo', serif; */
body {
  font-family: "Aleo", serif !important;
}

.primary-title {
  text-align: center;
  margin: 2% 0;
}

@media only screen and (min-width: 800px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 1224px) {
  .primary-title {
    margin: 1% 0;
  }
}

.top_header {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Settings for logo*/
.logo {
  width: 50%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .logo {
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  .logo {
    width: 20%;
  }
}

@media screen and (min-width: 1224px) {
  .logo {
    width: 10%;
  }
}

.header_bio {
  margin: 15px auto;
  text-align: center;
}

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Aleo', serif; */
body {
  font-family: "Aleo", serif !important;
}

.primary-title {
  text-align: center;
  margin: 2% 0;
}

@media only screen and (min-width: 800px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 1224px) {
  .primary-title {
    margin: 1% 0;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1 !important;
  font-size: 40px !important;
  font-weight: bold !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Aleo', serif; */
body {
  font-family: "Aleo", serif !important;
}

.primary-title {
  text-align: center;
  margin: 2% 0;
}

@media only screen and (min-width: 800px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 1224px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 1224px) {
  #profile_page {
    width: 65%;
    margin: 0 auto;
  }
}

.profile_links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media only screen and (min-width: 1224px) {
  .profile_links {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

.profileicons {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  margin: 15px 0;
}

.profileicons img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 70%;
}

@media only screen and (min-width: 800px) {
  .profileicons img {
    width: 40%;
  }
}

@media only screen and (min-width: 1224px) {
  .profileicons img {
    width: 30%;
  }
}

.profileicons:hover {
  margin: 0;
}

.profileicons:hover img {
  width: 80%;
}

@media only screen and (min-width: 800px) {
  .profileicons:hover img {
    width: 45%;
  }
}

@media only screen and (min-width: 1224px) {
  .profileicons:hover img {
    width: 35%;
  }
}

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Aleo', serif; */
body {
  font-family: "Aleo", serif !important;
}

.primary-title {
  text-align: center;
  margin: 2% 0;
}

@media only screen and (min-width: 800px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 1224px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 800px) {
  .project_template {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1224px) {
  .project_template {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
    width: 60%;
    margin: 1% auto;
  }
  .project_template p {
    width: 80%;
    margin: 15px auto;
    float: left;
  }
}

.project_template hr {
  border: 1px solid rgba(151, 0, 0, 0.349);
}

@media only screen and (min-width: 1224px) {
  .project_template hr {
    display: none;
  }
}

.project_template img {
  display: block;
  width: 75%;
  margin: 20px auto;
  border: 1px solid rgba(15, 13, 13, 0.2);
  -webkit-box-shadow: 10px 15px rgba(15, 13, 13, 0.1);
          box-shadow: 10px 15px rgba(15, 13, 13, 0.1);
}

@media only screen and (min-width: 800px) and (max-width: 1224px) {
  .project_template img {
    width: 70%;
  }
}

@media only screen and (min-width: 1224px) {
  .project_template img {
    width: 90%;
  }
}

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Aleo', serif; */
body {
  font-family: "Aleo", serif !important;
}

.primary-title {
  text-align: center;
  margin: 2% 0;
}

@media only screen and (min-width: 800px) {
  .primary-title {
    margin: 1% 0;
  }
}

@media only screen and (min-width: 1224px) {
  .primary-title {
    margin: 1% 0;
  }
}

#skills_page p {
  margin-left: 10px;
}

@media only screen and (min-width: 1224px) {
  #skills_page p {
    width: 50%;
    margin: 0.5rem auto;
  }
}

#skills_page .list_title {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 8px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.skills_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media only screen and (min-width: 800px) and (max-width: 1360px) {
  .skills_list {
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1360px) {
  .skills_list {
    width: 60%;
    margin: 0 auto;
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
  }
}

.skills_list ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  margin: 25px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

@media only screen and (min-width: 1360px) {
  .skills_list ul {
    width: 290px;
  }
}

.skills_list ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 100%;
  margin: 15px auto;
  list-style: none;
  text-align: center;
}

@media only screen and (min-width: 1224px) {
  .skills_list ul li {
    font-size: 1.1em;
  }
}

.skills_table_container {
  width: 100%;
  margin: 15% auto;
  border-bottom: 1px solid rgba(15, 13, 13, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 8px;
}

@media only screen and (min-width: 800px) and (max-width: 1360px) {
  .skills_table_container {
    width: 60%;
    margin: 5% auto;
  }
}

@media only screen and (min-width: 1360px) {
  .skills_table_container {
    width: 40%;
    margin: 2% auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
    grid-column-gap: 20px;
    padding: 15px;
    border-bottom: none;
  }
}

.skills_table_icons {
  text-align: center;
}

.skills_table_icons img {
  margin-bottom: 5%;
}

@media only screen and (min-width: 1360px) {
  .skills_table_icons img {
    margin-bottom: 0;
    margin: 1%;
  }
}

.skills_table_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 1360px) {
  .skills_table_text {
    padding-top: 12px;
  }
}

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Aleo', serif; */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue !important;
  overflow-x: hidden;
}

#banners {
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#banners p {
  text-align: center;
  border: 1px solid black;
  margin: 10px auto;
  padding: 50px 0;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

#banners p:hover {
  color: white;
  background-color: #7a3232;
}

@media only screen and (min-width: 600px) {
  #banners p {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  #banners p {
    width: 60%;
  }
}

@media only screen and (min-width: 1224px) {
  #banners p {
    width: 30%;
    padding: 25px 0;
  }
}

#profile_page, #experience_page, #skills_page, #hobbies_page {
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  display: none;
  opacity: 0;
}

.main_nav_bar {
  display: none;
  opacity: 0;
  width: 100%;
}

.main_nav_bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_nav_bar nav a {
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  color: black;
  margin: 0 9px;
}

.main_nav_bar nav a:hover {
  text-decoration: none;
  color: red;
}
/*# sourceMappingURL=main.css.map */