.form, .chat_box {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type="text"], .chat_box input[type="text"], .form input[type="password"], .chat_box input[type="password"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.form input[type="radio"], .chat_box input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.form .radio-label, .chat_box .radio-label {
  display: block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.form input[type="radio"]:checked + .radio-label, .chat_box input[type="radio"]:checked + .radio-label {
  background-color: #bfb;
  border-color: #4c4;
}

.form input[type="radio"]:focus + .radio-label, .chat_box input[type="radio"]:focus + .radio-label {
  border: 2px dashed #444;
}

.form .radio-label:hover, .chat_box .radio-label:hover {
  background-color: #dfd;
}

.form button, .chat_box button, .form .link-button, .chat_box .link-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #66b3c4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .chat_box button:hover, .form .link-button:hover, .chat_box .link-button:hover, .form .form button:active, .chat_box .form button:active, .form .chat_box button:active, .chat_box .chat_box button:active, .form .form .link-button:active, .chat_box .form .link-button:active, .form .chat_box .link-button:active, .chat_box .chat_box .link-button:active, .form button:focus, .chat_box button:focus, .form .link-button:focus, .chat_box .link-button:focus {
  background: #5194a3;
}

.form .link-button, .chat_box .link-button {
  display: inline-block;
}

.form .link-button:hover, .chat_box .link-button:hover, .form .form .link-button:active, .chat_box .form .link-button:active, .form .chat_box .link-button:active, .chat_box .chat_box .link-button:active, .form .link-button:focus, .chat_box .link-button:focus {
  text-decoration: none;
  color: white;
  background: #5194a3;
}

.form .form-bottom-notice, .chat_box .form-bottom-notice {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a, .chat_box .message a {
  color: #66b3c4;
  text-decoration: none;
}

.form .register-form, .chat_box .register-form {
  display: none;
}

.form-title {
  font-weight: bold;
}

.new-channel-form {
  padding: 50px 15px;
}

@media only screen and (min-width: 961px) {
  .navbar-nav {
    margin-left: 85%;
  }
}

@media only screen and (min-width: 961px) {
  #header p, #header a {
    font-size: 1.2em;
  }
}

#footers {
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

#footers ul li {
  display: inline-block;
}

/* Leftfooter */
div#leftfooter.col-sm-6 {
  position: absolute;
  left: 10px;
  bottom: 50px;
  width: 25%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fa-twitter {
  color: grey;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 25px;
}

.fa-deviantart {
  color: grey;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fa-deviantart:hover {
  color: #05cc46;
  font-size: 20px;
}

.fa-twitter:hover {
  color: #00aced;
  font-size: 20px;
  margin-right: 21px;
}

.col-sm-6 li {
  list-style: none;
  display: inline;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* Rightfooter */
div#rightfooter.col-sm-6 {
  position: absolute;
  bottom: 50px;
  right: 10px;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  height: 40px;
  width: 25%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.user_btn {
  display: inline-block;
  width: 100px;
  background-color: green;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin: 5px auto;
}

.user_btn a {
  text-decoration: none;
  color: white;
}

.chatroom_buttons {
  width: 64%;
  margin: 0 auto;
}

.form, .chat_box {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type="text"], .chat_box input[type="text"], .form input[type="password"], .chat_box input[type="password"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.form input[type="radio"], .chat_box input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.form .radio-label, .chat_box .radio-label {
  display: block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.form input[type="radio"]:checked + .radio-label, .chat_box input[type="radio"]:checked + .radio-label {
  background-color: #bfb;
  border-color: #4c4;
}

.form input[type="radio"]:focus + .radio-label, .chat_box input[type="radio"]:focus + .radio-label {
  border: 2px dashed #444;
}

.form .radio-label:hover, .chat_box .radio-label:hover {
  background-color: #dfd;
}

.form button, .chat_box button, .form .link-button, .chat_box .link-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #66b3c4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .chat_box button:hover, .form .link-button:hover, .chat_box .link-button:hover, .form .form button:active, .chat_box .form button:active, .form .chat_box button:active, .chat_box .chat_box button:active, .form .form .link-button:active, .chat_box .form .link-button:active, .form .chat_box .link-button:active, .chat_box .chat_box .link-button:active, .form button:focus, .chat_box button:focus, .form .link-button:focus, .chat_box .link-button:focus {
  background: #5194a3;
}

.form .link-button, .chat_box .link-button {
  display: inline-block;
}

.form .link-button:hover, .chat_box .link-button:hover, .form .form .link-button:active, .chat_box .form .link-button:active, .form .chat_box .link-button:active, .chat_box .chat_box .link-button:active, .form .link-button:focus, .chat_box .link-button:focus {
  text-decoration: none;
  color: white;
  background: #5194a3;
}

.form .form-bottom-notice, .chat_box .form-bottom-notice {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a, .chat_box .message a {
  color: #66b3c4;
  text-decoration: none;
}

.form .register-form, .chat_box .register-form {
  display: none;
}

.form-title {
  font-weight: bold;
}

.new-channel-form {
  padding: 50px 15px;
}

.chat_box {
  max-width: 100%;
}

@media only screen and (min-width: 961px) {
  .chat_box {
    width: 40%;
  }
}

.message_box {
  text-align: left;
  overflow-y: scroll;
  min-height: 300px;
  max-height: 500px;
  border: 1px solid black;
  background-color: white;
}

/*
    font-family: 'Alata', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Alatsi', sans-serif;
*/
body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

#header a {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#header a:hover {
  color: cornflowerblue;
}

.nav-title {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 961px) {
  .serverlist table {
    font-size: 1.5em;
  }
}

.serverlist td::first-letter {
  text-transform: uppercase;
}

.serverlist td button::first-letter, .serverlist td .form .link-button::first-letter, .form .serverlist td .link-button::first-letter, .serverlist td .chat_box .link-button::first-letter, .chat_box .serverlist td .link-button::first-letter {
  text-transform: uppercase;
}

.active_user {
  text-align: center;
  padding: 0;
  margin: auto 0;
  font-size: 1.4em;
}

.message_box {
  font-size: 0.8em;
}

.room_info {
  margin: 5% 0;
  text-align: center;
  font-size: 1.2em;
}

@media only screen and (min-width: 961px) {
  .room_info {
    margin: 2% 0;
  }
}

.primary-title {
  margin-top: 5%;
  text-align: center;
}

/* Mobile Styles 
@media only screen and (max-width: 400px) {

  }*/
/* Tablet Styles 
@media only screen and (min-width: 401px) and (max-width: 960px) {
        //
    }*/
/* Desktop Styles 
@media only screen and (min-width: 961px) {

}*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#33ccff), to(#ff99cc));
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Home page styling */
/* Welcome page styling */
.user_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(25px, auto);
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  background-color: azure;
}

@media only screen and (min-width: 961px) {
  .user_list {
    width: 40%;
  }
}

.serverlist table {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  /* Desktop Styles */
}

@media only screen and (min-width: 961px) {
  .serverlist table {
    width: 60%;
  }
}

.serverlist th {
  width: 10%;
}

.serverlist td {
  background-color: aliceblue;
}

.serverlist td button, .serverlist td .form .link-button, .form .serverlist td .link-button, .serverlist td .chat_box .link-button, .chat_box .serverlist td .link-button {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.serverlist td button:hover, .serverlist td .form .link-button:hover, .form .serverlist td .link-button:hover, .serverlist td .chat_box .link-button:hover, .chat_box .serverlist td .link-button:hover {
  background-color: cornflowerblue;
}

.serverlist button, .serverlist .form .link-button, .form .serverlist .link-button, .serverlist .chat_box .link-button, .chat_box .serverlist .link-button {
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
}

/* Chat-room styling*/
.room_users {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  -ms-grid-rows: (25%)[4];
      grid-template-rows: repeat(4, 25%);
}

.admin_star {
  padding-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */