@import "./modules/form";
@import "./modules/header";
@import "./modules/footers";
@import "./modules/button";
@import "./modules/chatbox";
@import "./modules/typography";
@import "./modules/variables";

 /* Mobile Styles 
@media only screen and (max-width: 400px) {

  }*/
  
/* Tablet Styles 
@media only screen and (min-width: 401px) and (max-width: 960px) {
        //
    }*/
/* Desktop Styles 
@media only screen and (min-width: 961px) {

}*/

* {
    margin:0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Home page styling */


/* Welcome page styling */
.user_list
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(25px, auto);
    border:1px solid black;
    width: 90%;
    margin: 0 auto;
    background-color: azure;
    @media only screen and (min-width: 961px) {
        width:40%;

    }

}
.serverlist
{
    table{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        /* Desktop Styles */
        @media only screen and (min-width: 961px) 
        {
            width: 60%;
        }
    }
    th
    {
        width: 10%;
    }
    td
    {
        background-color: aliceblue;
        button{
            transition: all 300ms ease-out;
            &:hover{
                background-color: cornflowerblue;
            }
        }
    }
    button{
        width: 100%;
        background-color: white;
        border: 1px solid grey;
        border-radius: 2px;
    }
}
/* Chat-room styling*/
.room_users
{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
}

.admin_star
{
    padding-bottom: 5px;
}


