@import "./typography";
@import "./variables";

.project_template{
    @media only screen  and (min-width : $break-medium) {
        width: 80%;
        margin: 0 auto;
    }


    @media only screen  and (min-width : $break-large) {
        display: grid;
        grid-template-columns: 45% 55%;
        width: 60%;
        margin: 1% auto;
        p{
            width: 80%;
            margin: 15px auto;
            float: left;
        }
    }

    hr{
        border: 1px solid rgba(151, 0, 0, 0.349);
        @media only screen  and (min-width : $break-large) {
            display: none;
        }
    }
    img{
        display: block;
        width: 75%;
        margin: 20px auto;
        border: 1px solid rgba(15, 13, 13, 0.2);
        box-shadow: 10px 15px rgba(15, 13, 13, 0.1);

        @media only screen  and (min-width : 800px) and (max-width: $break-large){
            width: 70%;
        }
        
        @media only screen  and (min-width : $break-large) {
            width: 90%;
        }
    }

}