@import "./typography";
@import "./variables";

#footer {
    transition: all 0.5s ease-in 0s;
    text-align: center;

    ul{
        transition: all 0.5s ease-in 0s;
        li{
            display: inline-block;
        }
    }

}
.fa-twitter, .fa-deviantart, .fa-gitlab, .fa-linkedin{
    color: grey;
    transition: all 0.2s ease-in-out;
    margin: 0 25px;
}

.fa-linkedin{
    &:hover{
        color: #2867b2;
    }
}

.fa-gitlab{
    &:hover{
        color: #fca326;
    }
}

.fa-twitter {
    &:hover{
        color: #00aced;
    }
}

.fa-deviantart {
    &:hover{
        color: #05cc46;
    }
}


