@import "./typography";
@import "./variables";



.top_header{
    margin-top: 25px;
    display: flex;
}

/*Settings for logo*/
.logo {
    width: 50%;
    transition: all 0.2s ease 0s;
    margin: 0 auto;
    @media only screen  and (min-width : $break-small) {
        width: 30%;
    }
    @media only screen  and (min-width : $break-medium) {
        width: 20%;
    }

    @media screen and (min-width: $break-large) {
        width: 10%;
    }
}

.header_bio{
    margin: 15px auto;
    text-align: center;
}