@import "./typography";
@import "./variables";

#profile_page{
    @media only screen  and (min-width : $break-large) {
        width: 65%;
        margin: 0 auto;
    }
}

.profile_links
{
    display: grid;
    grid-template-columns: 50% 50%;
    @media only screen  and (min-width : $break-large) {
        grid-template-columns: repeat(4, auto);
    }

}

.profileicons{
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin: 15px 0;
    img{
        transition: all 0.2s ease-in-out;
        width:70%;
        @media only screen  and (min-width : $break-medium) {
            width: 40%;
        }

        @media only screen  and (min-width : $break-large) {
            width: 30%;
        }
    }
    &:hover{
        margin: 0;
    }

    &:hover img{
        width:80%;

        @media only screen  and (min-width : $break-medium) {
            width: 45%;
        }
        @media only screen  and (min-width : $break-large) {
            width: 35%;
        }
    }
}