@import "./typography";
@import "./variables";


#skills_page{
    p{
        margin-left: 10px;

        @media only screen  and (min-width : $break-large) {
            width: 50%;
            margin: 0.5rem auto;
        }

    }

    .list_title{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 8px 0;
        font-size: 1.2em;
        font-weight: bold;
    }
}


.skills_list{
    display: grid;
    grid-template-columns: 50% 50%;
    @media only screen  and (min-width : $break-medium) and (max-width: $break-large2){
        width: 50%;
        margin: 0 auto;
    }
    @media only screen  and (min-width : $break-large2) {
        width: 60%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 25%);
    }
    ul{
        box-sizing: border-box;
        width: 200px;
        margin: 25px auto;
        padding: 5px;
        border: 1px solid black;
        border-radius: 2px;
        
        @media only screen  and (min-width : $break-large2) {
            width: 290px;
            
        }
        li{
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;
            margin: 15px auto;
            list-style: none;
            text-align: center;
            @media only screen  and (min-width : $break-large) {
                font-size: 1.1em;
            }
        }
        
    }

}

.skills_table_container{
    width: 100%;
    margin: 15% auto;
    border-bottom: 1px solid rgba(15, 13, 13, 0.2);
    box-sizing: border-box;
    padding-left: 8px;

    @media only screen  and (min-width : $break-medium) and (max-width: $break-large2){
        width: 60%;
        margin: 5% auto;
    }
    @media only screen  and (min-width : $break-large2) {
        width: 40%;
        margin: 2% auto;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-column-gap: 20px;
        padding: 15px;
        border-bottom: none;
    }
}

.skills_table_icons{
    text-align: center;
    img{
        margin-bottom: 5%;

        @media only screen  and (min-width : $break-large2) {
            margin-bottom: 0;
            margin: 1%;
        }
    }
}

.skills_table_text{
    box-sizing: border-box;

    @media only screen  and (min-width : $break-large2) {
        padding-top: 12px;
    }
    
}


