/* font-family: 'Nunito', sans-serif; */

/* font-family: 'Aleo', serif; */
@import "./variables";

$link-text-color: #717272;
$link-text-hover: rgb(189, 189, 189);
$link-font-family: 'Aleo', serif;
$link-text-decoration: none;

body{
    font-family: $link-font-family !important;
}


.primary-title{
    text-align: center;
    margin: 2% 0;
    @media only screen  and (min-width : $break-medium) {
        margin: 1% 0;
    }
    @media only screen  and (min-width : $break-large) {
        margin: 1% 0;
    }
}